html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #414141;
    overflow-x: hidden;
    overflow-y: hidden;
}

.aboslute {
    position: absolute
}

.help_view {
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #414141;
    text-align: center;
}

.help_button {
    background-color: orange;
    color: white;
    text-align: center;
    font-family: Impact;
    font-size: 100px;
}

.hidden_left {
    left: 100%;
    opacity: 0;
}

.fade_out {
    transition-duration: 2s;
    left: -100%;
    opacity: 0;
}

.fade_in {
    transition-duration: 2s;
    left: 0%;
    opacity: 1;
}

@keyframes fade_out {
    from {opacity: 1;}
    to { opacity: 0; }
}

@keyframes fade_in {
    from {opacity: 0;}
    to { opacity: 1; }
}

/******************************************************************************************
* MODAL DIALOG - CONTROLS, INPUTS & OVERLAYS (DON'T DELETE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!)
******************************************************************************************/
.view_control {
    position: absolute;
    font-size: 3.5em;
    font-family: Arial;
    width: 95%;
}

.message {
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 20px 50px 20px 50px;
    margin: 0 auto;
}

.overlay {
    //background-color: rgba(0,0,0,.1);
    color: #808080;
    padding-left: 5px;
    font-family: Arial;
}

.transform_overlay {
    transform: translateY(0%);
    transition-duration: .5s;
}

.transform_top {
    transition-duration: .1s;
    transform: translateY(-80%);
    color: #ff6a00;
}

.overlay_animation {
    animation: pop_up ease-in-out .8s 1 normal none;
    transform: translateY(-80%);
}

.top_animation {
    animation: pop_down ease-in-out .8s 1 normal none;    
    transform: translateY(0%);
}

@keyframes pop_up {
    0% { transform: translate(0%, 0%); }
    5% { transform: translate(0%, 0%); }
    50% { transform: translate(0%, -100%); }
}

@keyframes pop_down {
    0% { transform: translate(0%, -100%); }
    5% { transform: translate(0%, -100%); }
    50% { transform: translate(0%, 0%); }
}
